@import url("https://fonts.cdnfonts.com/css/tt-norms-pro");

body {
  background-color: #09090c; /* Set background color of the entire website to black */
  color: #ffffff;

  font-family: "TT Norms Pro", sans-serif;
}
