.container {
  margin-top: 55px;
  margin-left: 32px;
}

.headers {
  font-size: 24px;
  overflow-x: scroll;
  color: #ffffff30;
  display: flex;
  > * {
    display: inline-block;
    white-space: nowrap;
    margin-right: 24px;
  }
}
.headers::-webkit-scrollbar {
  display: none;
}

.chosen {
  color: #ffffff;
}
.info {
  font-size: 16px;
  font-weight: 200;

  margin: 16px 0;
}
.attention {
  display: flex;
  color: #4b4b4b;
  font-size: 16px;
  align-items: center;

  > svg {
    margin-right: 24px;
  }

  > div {
    width: 90%;
  }
}

.svgIcon {
  width: 45px;
  height: 44px;
  margin-right: 0px;
}

@media screen and (max-width: 800px) {
  .container {
    margin-top: 55px;
    margin-left: 16px;
  }

  .attention {
    padding: 16px;
    background-color: #ffffff05;
    border-radius: 16px;
    align-items: flex-start;

    > svg {
      margin-right: 16px;
      width: 20px;
      height: 20px;
    }

    > div {
      width: 90%;
    }
  }
}
