.block {
  padding: 0;
}

.cardsContainer {
  display: flex;
  overflow-x: scroll;
  gap: 20px;
}

.cardsContainer::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 800px) {
  .news {
    font-size: 22px;
  }
}
