@font-face {
  font-family: "DrukWideCyr-Bold";
  src: url("/fonts/drukwidecyr-bold.eot"); /* IE 9 Compatibility Mode */
  src: url("/fonts/drukwidecyr-bold.eot?#iefix") format("embedded-opentype"),
    /* IE < 9 */ url("/fonts/drukwidecyr-bold.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/fonts/drukwidecyr-bold.woff")
      format("woff"),
    /* Firefox >= 3.6, any other modern browser */
      url("/fonts/drukwidecyr-bold.ttf") format("truetype"),
    /* Safari, Android, iOS */
      url("/fonts/drukwidecyr-bold.svg#drukwidecyr-bold") format("svg"); /* Chrome < 4, Legacy iOS */
}

.promo {
  position: relative;
  height: 320px;
  background-color: #ffffff01;
  border-radius: 24px;
  box-shadow: inset 0px 0px 18px 0px rgba(255, 255, 255, 0.3);
  margin-top: 32px;
  margin-right: 32px;
  box-sizing: border-box;
  padding: 40px;
  flex-wrap: wrap;
  overflow: hidden;
  flex-direction: column;
  gap: 20px;

  > h1 {
    font-size: 28px;
    font-weight: bold;
    //font-family: "DrukWideCyr-Bold"; Шрифт не работает, не ясно почему
  }
}
.floatingText {
  position: absolute;
  top: 40px;
  right: 200px;
  transform: rotate(-13.77deg);
  border-radius: 32.4px;
  padding: 10px 16px;
  font-size: 12px;
  box-shadow: inset 0px 0px 18px 0px rgba(255, 255, 255, 0.3);
}
.floatingText2 {
  position: absolute;
  top: 120px;
  right: 180px;
  transform: rotate(26.7deg);
  border-radius: 32.4px;
  padding: 10px 16px;
  font-size: 12px;

  box-shadow: inset 0px 0px 18px 0px rgba(255, 255, 255, 0.3);
}
.floatingText3 {
  position: absolute;
  top: 200px;
  right: 200px;
  transform: rotate(-22.14deg);
  border-radius: 32.4px;
  font-size: 12px;
  padding: 10px 16px;
  box-shadow: inset 0px 0px 18px 0px rgba(255, 255, 255, 0.3);
}
.lights {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
}
.popcorn {
  position: absolute;
  right: -70px;
  top: 0;
}

.button {
  width: 212px;
  margin-top: 32px;
  height: 48px;
}

.point {
  display: flex;
  gap: 8px;
}

.points {
  display: flex;
  gap: 28px;
}

.svgWrapper {
  width: 24px;
  height: 24px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media screen and (max-width: 800px) {
  .promo {
    margin-right: 16px;
    padding: 0 16px;
    height: 549px;
  }
  .popcorn {
    height: 300px;
    right: -40px;
    top: 60%;
    transform: rotate(-8deg);
  }
  .lights {
    right: -100px;
    top: 40%;
    mask-image: linear-gradient(rgba(0, 0, 0, 0) 10%, black 60%);
  }
  .floatingText {
    top: 65%;
  }
  .floatingText2 {
    top: 77%;
    display: block;
    left: 70px;
  }
  .floatingText3 {
    top: 90%;
  }

  .mobile-block {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    gap: 20px;
  }
  .points {
    display: flex;
    flex-direction: column;
    gap: 12px;
    > div {
      margin-top: 12px;
      gap: 12px;
    }
    .column {
      margin-top: 0;
    }
  }

  .offer-text,
  .button {
    margin: 0;
  }

  .offer-text {
    line-height: 30px;
  }

  .button {
    width: 212px;
  }
  .buttonWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
