@import url("https://fonts.cdnfonts.com/css/tt-norms-pro");

.rate {
  padding: 5px 8px;
  background-color: #2674fb;
  border-radius: 8px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  font-family: "TT Norms Pro", sans-serif;
  display: flex;
  justify-content: center;
}
