@import url("https://fonts.cdnfonts.com/css/tt-norms-pro");

.title {
  display: flex;
  overflow-x: scroll;

  color: #ffffff30;
  font-size: 24px;
  font-family: "TT Norms Pro", sans-serif;
  > * {
    margin-right: 20px;
    padding: 8px 10px;
  }

  > .chosen {
    color: white;
  }
}

.content {
  padding-top: 20px;
  display: flex;
  overflow-x: scroll;

  > * {
    margin-right: 20px;
  }
}
.content::-webkit-scrollbar,
.title::-webkit-scrollbar {
  display: none;
}

.container {
  margin-left: 32px;
  margin-top: 64px;
}

@media screen and (max-width: 800px) {
  .container {
    margin-left: 16px;
  }
  .title {
    white-space: nowrap;
  }
}
