.block {
  display: flex;
  overflow-x: scroll;
  > * {
    margin-right: 20px;
  }

  scrollbar-width: none;
  -ms-overflow-style: none;
}
.block::-webkit-scrollbar {
  display: none;
}

.point {
  cursor: pointer;
  position: relative;
  display: flex;
}
.number {
  position: absolute;
  z-index: 0;
  top: 30%;
}
.image {
  margin-left: 87px;
  border-radius: 24px;
  z-index: 1;
}
.imageOverlay {
  position: absolute;
  border-radius: 24px;
  z-index: 1;
  right: 0;
}
