.block {
  display: flex;
  overflow-x: hidden;
  > * {
    margin-right: 20px;
  }
}

.point {
  position: relative;
  display: flex;
}
.number {
  position: absolute;
  z-index: 0;
  top: 30%;
}
.image {
  margin-left: 87px;
  border-radius: 24px;
  z-index: 1;
}
.imageOverlay {
  position: absolute;
  border-radius: 24px;
  z-index: 1;
  right: 0;
}
